/* ----------------- 基本重設 ----------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ----------------- 導覽列 ----------------- */
.index {
    background-color: #5f473a;
    height: 45px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.index a.logo {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    left: 80px;
    top: 0;
    line-height: 45px;
    text-decoration: none;
}

.index a.logo:hover {
    color: #f4e8d5;
}

.index ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 45px;
}

.index li {
    display: inline;
    margin-right: 4vw;
}

.index ul a {
    color: white;
    text-decoration: none;
}

.index ul a:hover {
    text-decoration: underline;
}

/* ----------------- 標題區 ----------------- */
.title {
    height: 30vh;
    background-image: url("image/instruments.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 70px; /* 調整避免被固定導覽列遮住 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    color: white;
    text-shadow: #5f473a 0.1em 0.1em 0.2em;
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
}

/* ----------------- 主要內容區 ----------------- */
main {
    background-color: #f4e8d5;
    padding: 40px 10vw 40px 10vw;
}

/* ----------------- 新聞列表 ----------------- */
.news-list {
    border: 3px solid #5f473a;
    border-radius: 10px;
    padding: 20px;
    background-color: #fffdf8;
}

.news-list-content {
    padding: 30px;
}

.news-list-content h2 {
    background-color: #c3b193;
    color: #5f473a;
    border-radius: 30px;
    padding: 5px 20px;
    display: inline-block;
}

.news-list-content p {
    margin-left: 20px;
    line-height: 1.8;
    color: #3c2e26;
}

hr {
    border: none;
    border-top: 2px solid #c3b193;
    margin: 20px 0;
}

/* ----------------- RWD 響應式設計 ----------------- */
@media (max-width: 768px) {
    .index a.logo {
        left: 20px;
        font-size: 16px;
    }
    .index ul {
        right: 20px;
    }
    main {
        padding: 20px 5vw 40px 5vw;
    }
    .title {
        margin-top: 60px; /* 小螢幕適度增加 */
    }
    .title h1 {
        font-size: 40px;
    }
}
